<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ./partials/header %>
</head>

<body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
    <div class="logo"></div>
    <div class="login final">
        <div class="flex"></div>
        <h1>Thanks for<br>playing</h1>
        <div class="flex"></div>
        <div class="login-btn final">
            <div>
                <a href="/" class="login-btn-play">Play the<br/>Game</a>
            </div>
            <div>
                <a href="/leaderboard" class="login-btn-play">View the<br/>Leaderboard</a>
            </div>
            <div>
                <a href="http://www.hackerearth.com/sapient-nitro-frontend-hiring-challenge" class="login-btn-play">Join our<br/>hackathon</a>
            </div>
        </div>
        <div class="flex"></div>
        <div class="login-logo"></div>
        <div class="flex"></div>
        <h3>Made By: <a href="https://www.troublemakers.co.in/" class="pulse animated infinite">TroubleMakers</a></h3>
    </div>
</body>

</html>