<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <title>JSJargons|Game</title>
    <meta name="description" content="">
    <% include ./partials/header %>
</head>

<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <% if (user) { %>
    <script type="text/javascript">
        var wordsearch = <%- JSON.stringify(words) %>;
    </script>
    <div class="game">
        <div class="game-header">
            <div class="game-user flex">
                <span>Hi, <%= user.displayName || user.username%></span>
            </div>
            <div class="game-timer">00:00:00</div>
        </div>
        <div class="game-body flex">
            <div class="container">
                <div id="frame"></div>
            </div>
        </div>
        <div class="game-footer"></div>
    </div>
    <% include ./partials/footer %>
    <% } else { %>
        <div class="logo"></div>
        <div class="login">
            <div class="flex"></div>
            <div class="login-logo"></div>
            <p>Find as many JS jargons<br>you can in the gird</p>
            <div class="flex"></div>
            <div class="login-btn">
                <div>
                    <a href="/login" class="login-btn-play">Login to<br/>Play</a>
                </div>
                 <div>
                    <a href="/leaderboard" class="login-btn-play">View the<br/>Leaderboard</a>
                </div>
            </div>
            <div class="flex"></div>
            <h3>Join our: <a href="http://www.hackerearth.com/sapient-nitro-frontend-hiring-challenge" class="pulse animated infinite">hackathon</a></h3>
        </div<    
    <% } %>
</body>

</html>