<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <% include ./partials/header %>
</head>

<body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
      <div class="leaderboard">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>username</th>
                        <th>time taken</th>
                        <th>score</th>
                    </tr>
                </thead>
                <tbody>
                    <%
                        users.forEach(function(user, index){
                    %>
                    <tr class="leader-<%= index %>">
                        <td><%= user.name %></td>
                        <td><%= user.duration %></td>
                        <td><%= user.score %></td>
                    </tr>
                    <%
                        })
                    %>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        window.setInterval(function(){
            window.location.reload();
        },30000);
    </script>
</body>

</html>
