<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <title>JSJargons|Game</title>
    <meta name="description" content="">
  <% include ./partials/header %>
</head>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
    <div class="logo"></div>
    <div class="login">
        <div class="flex"></div>
        <div class="login-logo"></div>
        <p>Find as many JS jargons<br>you can in the grid</p>
        <h1>Enter the spot</h1>
        <div class="login-btn">
        <% if (!user) { %>
            <div>
                <a href="/login/google" class="login-btn-google">Sign In with Google</a>
            </div>
            <div>
                <a href="/login/github" class="login-btn-github">Sign In with Github</a>
            </div>
        <% } else { %>
          <div>
            <a href="/" class="login-btn-play">Play the<br/>Game</a>
          </div>
          <div>
            <a href="/leaderboard" class="login-btn-play">View the<br/>Leaderboard</a>
          </div>
        <% } %>
        </div>
        <div class="flex"></div>
         <h3>Join our: <a href="http://www.hackerearth.com/sapient-nitro-frontend-hiring-challenge" class="pulse animated infinite">hackathon</a></h3>
    </div>
</body>
</html>