@import "~normalize.css";
@import "./fonts.scss";
@import "./login.scss";
@import "./game.scss";
@import "./leaderboard.scss";
html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  background: url('../assets/geometry.png') #d72d2e repeat top left;
  //background: #d72d2e;
}

div.logo{
  position:fixed;
  width: 40px;
  height: 40px;
  top:0;
  left:30px;
  z-index: 999;
  background: url('../assets/sn-logo.png') #d72d2e no-repeat center center;
  @extend .z-depth-1;
}

body * {
  box-sizing: border-box;
}

.flex {
  flex: 1;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.qr {
  width: 200px;
  height: 200px;
  background: url('../assets/jsjargons-qr.png') transparent no-repeat center center;
  flex-shrink: 0;
  margin-top: 10px;
}

.z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}